body{
    background-color: #F5F5DC; /*  #F9EEC3*/
    font-size: 18px;
    
}

div{
    background-color: #d4cdb2; /* C5A57A */
    text-align: center;
}
a{
    color:#000000;
    text-decoration: none;
    font-size: 25px;
    margin-left: 20px;
}
a:hover{
    text-decoration:underline;
}
hr{
    outline: black;
}
img{
    height: 400px;
    width: 500px;
}

h1{
    text-align: center;
    padding: 0px 400px 0px 400px;
    font-family: "Londrina Shadow", sans-serif;

}
h2{
    padding: 0px 400px 0px 400px;

}

h3{
    padding: 0px 400px 0px 400px;

}
h4{
    padding: 20px 400px 0px 400px;

}

p{
    padding: 0px 400px 0px 400px;
}

nav{
    background-color: #F9EEC3;   
}

#contact{
    font-size: 18px;
    color: #000000;
}


.lavishly-yours-regular {
    font-family: "Lavishly Yours", serif;
    font-weight: 400;
    font-style: normal;
  }
.tangerine-regular {
  font-family: "Tangerine", serif;
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: "Tangerine", serif;
  font-weight: 700;
  font-style: normal;
}
  

  