body{
    background-color: #EBBC83; /*  #F9EEC3*/
    font-size: 18px;
    
}

div{
    background-color: #F9ECC6; /* C5A57A */
}

hr{
    outline: black;
}
img{
    height: 400px;
    width: 500px;
    border: solid 2px #000000;

}

h1,h2,h3,h4,h5,h6,p{
    font-family: "Londrina Shadow", sans-serif;
}

#contact{
    font-size: 18px;
    color: #000000;
}


.lavishly-yours-regular {
    font-family: "Lavishly Yours", serif;
    font-weight: 400;
    font-style: normal;
  }
.tangerine-regular {
  font-family: "Tangerine", serif;
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: "Tangerine", serif;
  font-weight: 700;
  font-style: normal;
}

table,td th{
    border: 1px solid #000000;
    font-size: 20px;
    font-family: "Londrina Shadow", sans-serif;

}
.Tcontents{
    color: white;
    text-decoration: none;
}
.Tcontents:hover{
    color:wheat;
    font-size: 15px;
}
.Tcontents:active{
    color:#EBBC83;
}
.websiteTitle{
    color: red;
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 3px 3px 10px rgba(0,0,0, 0.3);
}

  